@font-face {
    font-family: 'Hatton';
    src: url('Hatton-Medium.woff2') format('woff2'),
        url('Hatton-Medium.woff') format('woff'),
        url('Hatton-Medium.svg#Hatton-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hatton';
    src: url('Hatton-Light.woff2') format('woff2'),
        url('Hatton-Light.woff') format('woff'),
        url('Hatton-Light.svg#Hatton-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

