body{
    background-color: #f5f6fe;
    color: #6F7A92;
}
body .card{
    background: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
    border: 0;
}
body .btn.btn-primary{
    background-color: #373063;
    border-color: #373063;
}
body .btn.btn-warning{
    background-color: #486DCF;
    border-color: #486DCF;
    color: white;
}
body .navbar{
    background-color: white;
}
body .table-striped>tbody>tr:nth-of-type(odd){
    background-color: #fafaff;
}
body .table>:not(caption)>*>*{
    border: 0
}
body .table>:not(:last-child)>:last-child>*, 
body table.dataTable thead th, table.dataTable thead td,
table.dataTable tbody tr,
table.dataTable.no-footer{
    border: 0
}
table.dataTable.no-footer{
    margin-bottom: 30px;
}
table.dataTable thead th, table.dataTable tfoot th{
    color: #445068;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background: #969aa4;
    color: white !important;
    border: 0;
}