@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  color: #192935;
  overflow-x: hidden;
}
body .navbar {
  background-color: #dcdcdc;
}
body .navbar .navbar-brand img {
  height: 40px;
  width: auto;
}
body .intro {
  background-color: black;
  height: 90vh;
  background-image: url("../img/piano-1.jpg");
  background-size: cover;
  position: relative;
}
@media (max-width: 480px) {
  body .intro {
    height: 85vh;
  }
}
body .intro_content {
  color: white;
}
body .intro_content h2 {
  margin: 2em 0;
  font-weight: 300;
  font-size: 2em;
}
@media (max-width: 480px) {
  body .intro_content h2 {
    margin-top: 0;
    font-size: 1.2em;
  }
}
body .intro_content h2::after {
  content: "";
  display: block;
  width: 200px;
  margin-top: 50px;
  border-bottom: 1px solid #e1761b;
}
@media (max-width: 480px) {
  body .intro_content h2::after {
    display: none;
  }
}
body .intro_content h1 {
  font-family: "Hatton";
  font-weight: 300;
  font-size: 3.5em;
}
body .intro_content h1 strong {
  font-weight: bolder;
}
@media (max-width: 480px) {
  body .intro_content h1 {
    font-size: 2.5em;
  }
}
body .intro_content span {
  background: url("../../assets/img/flecha-abajo-naranja.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: block;
  margin-bottom: 50px;
}
@media (max-width: 480px) {
  body .intro_content span {
    display: none;
  }
}
body .intro .goto {
  position: absolute;
  width: 50px;
  height: 50px;
  display: block;
  left: calc(50% - 25px);
  bottom: -25px;
}
body .section-1 {
  padding: 1em 0;
}
body .section-1_content {
  display: flex;
}
@media (max-width: 480px) {
  body .section-1_content {
    flex-direction: column;
  }
}
body .section-1_content img {
  width: 300px;
  height: auto;
}
body .section-1_content h2 {
  position: relative;
  font-family: "Hatton";
  font-weight: 500;
}
body .section-1_content h2::after {
  content: "";
  width: 80px;
  margin: 20px 0;
  height: 3px;
  background-color: #e1761b;
  display: block;
}
body .section-2 {
  background-color: #eeeeee;
  padding: 5em 0 calc(5em + 100px);
}
body .section-2 .titles h2 {
  font-size: 4em;
  padding: 2em 0;
  font-family: "Hatton";
  font-weight: 500;
}
body .section-2 .titles h2 span {
  color: #e1761b;
  display: block;
}
@media (max-width: 480px) {
  body .section-2 .titles h2 {
    padding: 1em;
    font-size: 2.6em;
  }
}
body .section-2 .titles p {
  padding-top: 35%;
  font-size: 1.4em;
}
@media (max-width: 480px) {
  body .section-2 .titles p {
    padding-top: 15%;
  }
}
body .section-2 .titles p::before {
  content: "";
  width: 100px;
  height: 2px;
  margin-bottom: 30px;
  display: block;
  background-color: #e1761b;
}
body .section-2 .bloque {
  background-color: white;
  padding: 0 5em;
  border-radius: 25px;
  margin-bottom: 1.5em;
}
@media (max-width: 480px) {
  body .section-2 .bloque {
    padding: 2em;
    margin: 1em;
  }
}
body .section-2 .bloque h3 {
  font-family: "Hatton";
  font-weight: 500;
  text-align: right;
  text-transform: uppercase;
}
body .section-2 .bloque span {
  height: 100px;
  width: 1px;
  background-color: #e1761b;
  display: block;
  margin: 1em auto;
}
@media (max-width: 480px) {
  body .section-2 .bloque span {
    display: none;
  }
}
body .section-2 .bloque span::after {
  content: "";
  display: block;
  position: absolute;
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: calc(50% - 15px);
  background-color: #e1761b;
}
body .section-2 .cuadro {
  background-color: white;
  padding: 3em 6em;
  margin-bottom: 8px;
  text-align: center;
}
@media (max-width: 480px) {
  body .section-2 .cuadro {
    border-radius: 0 !important;
  }
}
body .section-2 .cuadro h3 {
  color: #e1761b;
  font-weight: 600;
}
body .section-2 .cuadro.first {
  -webkit-border-top-left-radius: 25px;
  -webkit-border-bottom-left-radius: 25px;
  -moz-border-radius-topleft: 25px;
  -moz-border-radius-bottomleft: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
body .section-2 .cuadro.last {
  -webkit-border-top-right-radius: 25px;
  -webkit-border-bottom-right-radius: 25px;
  -moz-border-radius-topright: 25px;
  -moz-border-radius-bottomright: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
body .section-3 {
  position: relative;
  padding: 5em 0;
}
body .section-3 .separador {
  width: 200px;
  height: 15px;
  background-color: #e1761b;
  display: block;
  position: absolute;
  left: calc(50% - 100px);
  top: -8px;
}
body .section-3 h2 {
  color: white;
  text-align: center;
  font-family: "Hatton";
  font-weight: 500;
  font-size: 3em;
  margin-bottom: 1em;
}
@media (max-width: 480px) {
  body .section-3 h2 {
    font-size: 2.3em;
  }
}
body .section-3 p {
  color: white;
  margin-bottom: 3.5em;
  font-size: 1.45em;
  font-weight: 300;
}
body .section-3 .flecha {
  width: 50px;
  height: 50px;
  margin-left: calc(50% - 25px);
  margin-top: 3em;
}
body .section-3 .cifras {
  background: url("../../assets/img/piano-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 14em 0;
}
@media (max-width: 480px) {
  body .section-3 .cifras {
    padding: 4em 0;
  }
}
body .section-3 .cifras .cifra {
  text-align: center;
  font-weight: 500;
  font-size: 1.3em;
  color: white;
  line-height: 1em;
}
@media (max-width: 480px) {
  body .section-3 .cifras .cifra {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
body .section-3 .cifras .cifra span {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
  background-color: white;
  border-radius: 50px;
  text-align: center;
  line-height: 100px;
  color: #192935;
  margin-top: 1.3em;
  font-weight: 600;
}
@media (max-width: 480px) {
  body .section-3 .cifras .cifra span {
    margin: 5px 0;
    margin-left: 20px;
  }
}
body .section-3 .cifras .cifra.especial span {
  background-color: #e1761b;
  color: white;
}
body .section-4 {
  background: #192935;
  color: white;
  padding: 2em 0;
}
body .section-4 h2 {
  color: white;
  text-align: center;
  font-family: "Hatton";
  font-weight: 500;
  padding-top: 4em;
  font-size: 3em;
}
@media (max-width: 480px) {
  body .section-4 h2 {
    padding-top: 2em;
    font-size: 1.6em;
  }
}
body .section-4 .invierte {
  text-align: center;
  padding: 3em 0;
  width: 320px;
  margin: 0 auto;
  position: relative;
}
body .section-4 .invierte input {
  background-color: transparent;
  padding: 0.5em 1em;
  padding-right: 2em;
  border: 2px solid white;
  font-weight: 600;
  color: white;
  width: 100%;
}
body .section-4 .invierte input::placeholder {
  color: white;
  font-weight: 600;
}
body .section-4 .invierte #calcula {
  background-color: #717171;
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  right: 6px;
  top: 3em;
  text-align: center;
  margin-top: 6px;
}
body .section-4 .invierte #calcula img {
  height: 60%;
  width: auto;
  margin-top: 4px;
}
body .section-4 .timeline {
  color: white;
  margin: 2em;
  padding-bottom: 8em;
}
body .section-4 .timeline span {
  opacity: 0;
  padding: 5px;
  transition: opacity 0.4s;
  font-weight: 700;
  margin-bottom: 60px;
  display: block;
}
@media (max-width: 480px) {
  body .section-4 .timeline span {
    opacity: 1;
    margin-bottom: 0;
  }
}
body .section-4 .timeline span.actual {
  color: #1c2934;
  background-color: white;
  opacity: 1;
}
@media (max-width: 480px) {
  body .section-4 .timeline .year {
    display: block;
  }
}
body .section-4 .timeline .dot {
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: calc(50% - 4px);
  top: calc(50% - 4px);
  transition: all 0.1s;
}
@media (max-width: 480px) {
  body .section-4 .timeline .dot {
    display: none;
  }
}
body .section-4 .timeline .time {
  position: relative;
}
@media (max-width: 480px) {
  body .section-4 .timeline .time {
    flex: 1 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid;
    margin-bottom: 15px;
  }
}
body .section-4 .timeline .time .year {
  font-size: 0.7em;
}
body .section-4 .timeline .time::before {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background-color: white;
  position: absolute;
  left: 0;
  top: 50%;
}
@media (max-width: 480px) {
  body .section-4 .timeline .time::before {
    display: none;
  }
}
body .section-4 .timeline .time:hover span {
  opacity: 1;
}
body .section-4 .timeline .time:hover .dot {
  height: 20px;
  width: 1px;
  border-radius: 0;
  margin-top: -5px;
  margin-left: 2.5px;
}
body .section-4 .timeline .time:hover .dot::after {
  content: "";
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  background-color: #e1761b;
  position: absolute;
  left: calc(50% - 4px);
  top: calc(50% - 4px);
}
body .section-4 .timeline .time:first-child::before {
  left: 50%;
}
body .section-4 .timeline .time:last-child::before {
  width: 50%;
}
body .section-5 {
  background-color: #192935;
  color: white;
}
body .section-5 h2 {
  font-family: "Hatton";
  font-weight: 500;
}
body .section-5 h2 span {
  color: #e1761b;
}
body .section-6 {
  padding: 6em 0;
}
body .section-6 span {
  width: 200px;
  height: 2px;
  display: block;
  background-color: #e1761b;
  margin: 4em auto;
}
body .section-6 h2 {
  font-family: "Hatton";
  font-weight: 800;
  font-size: 3em;
}
@media (max-width: 480px) {
  body .section-6 h2 {
    font-size: 2em;
  }
}
body .section-6 ul {
  margin: 0 50px;
  list-style: none;
  background-color: #f1f1f1;
  border-radius: 25px;
  padding: 2em;
  padding-left: 5em;
}
@media (max-width: 480px) {
  body .section-6 ul {
    margin: 30px 0;
  }
}
body .section-6 ul li::before {
  content: "•";
  color: #e1761b;
  font-weight: bold;
  font-size: 2.2em;
  display: inline-block;
  width: 0.8em;
  margin-left: -0.9em;
}
body .section-7 {
  position: relative;
  z-index: 9;
}
body .section-7 .block {
  background-color: #192935;
  padding: 4em;
  color: white;
  margin-bottom: -110px;
  z-index: 9;
}
body .section-7 .block-2 {
  margin-top: -110px;
  margin-bottom: 0;
}
body .section-7 .block p {
  text-align: right;
  font-size: 1.3em;
  margin: 0;
  padding: 0;
}
@media (max-width: 480px) {
  body .section-7 .block p {
    text-align: center;
    margin-bottom: 20px;
  }
}
body .section-7 .block .btn {
  border: 1px solid white;
  border-radius: 0;
  color: white;
  font-weight: 600;
  padding: 1em 1.5em;
  font-size: 1.3em;
}
body .section-7 .steps {
  width: 55%;
  margin: 4em auto;
}
@media (max-width: 480px) {
  body .section-7 .steps {
    width: 100%;
    margin: 0;
  }
}
body .section-7 .steps h2 {
  text-align: center;
  font-family: "Hatton";
  font-weight: 800;
  font-size: 4em;
  margin: 1.5em auto;
}
@media (max-width: 480px) {
  body .section-7 .steps h2 {
    font-size: 2em;
  }
}
body .section-7 .steps .step {
  margin: 2em 0;
}
@media (max-width: 480px) {
  body .section-7 .steps .step {
    margin: 1em;
  }
}
body .section-7 .steps .step p {
  font-size: 1.2em;
}
@media (max-width: 480px) {
  body .section-7 .steps .step p {
    font-size: 1em;
  }
}
body .section-7 .steps .step img {
  margin: 0 2em;
  width: 45px;
  height: 45px;
}
body .section-8 {
  background: #eeeeee;
  padding: 200px 0 150px;
}
body .section-8 h3 {
  color: #e1761b;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 2em;
  margin-left: 7em;
}
body .section-8 .circulos {
  width: 70px;
  height: auto;
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: 0;
  display: block;
}
@media (max-width: 480px) {
  body .section-8 .circulos {
    display: none;
  }
}
body .section-8 p {
  font-size: 2em;
  margin-left: 50px;
  text-align: right;
}
@media (max-width: 480px) {
  body .section-8 p {
    font-size: 1.2em;
    margin: 40px auto 0;
  }
}
body .section-8 p strong {
  display: block;
  margin-top: 70px;
}
body .section-9 {
  padding: 7em;
}
@media (max-width: 480px) {
  body .section-9 {
    padding: 0;
  }
}
@media (max-width: 480px) {
  body .section-9 .contenedor {
    flex-direction: column !important;
  }
}
body .section-9 .circulos {
  width: 180px;
  margin-right: 50px;
  height: auto;
}
@media (max-width: 480px) {
  body .section-9 .circulos {
    display: none;
  }
}
body .section-9 h2 {
  font-size: 3em;
  color: #e1761b;
  margin-top: 60px;
}
@media (max-width: 480px) {
  body .section-9 h2 {
    font-size: 2em;
  }
}
body .section-9 p {
  display: block;
  margin-left: 150px;
  font-size: 1.5em;
  width: 70%;
}
@media (max-width: 480px) {
  body .section-9 p {
    margin-left: 70px;
    font-size: 1em;
  }
}
body .section-10 {
  padding: 7em 0;
  background: #1c2934;
  color: white;
}
body .section-10 img {
  padding-right: 3em;
  display: block;
  height: auto;
}
@media (max-width: 480px) {
  body .section-10 img {
    width: 75%;
    margin-bottom: 40px;
  }
}
body .section-10 p {
  font-size: 1.3em;
}
@media (max-width: 480px) {
  body .section-10 p {
    font-size: 1.1em;
  }
}
body .section-10 p::before {
  content: "";
  width: 60px;
  height: 7px;
  display: block;
  background: #e1761b;
  margin-bottom: 50px;
}
@media (max-width: 480px) {
  body .section-10 p::before {
    display: none;
  }
}
body .section-10 p strong {
  display: block;
  margin-top: 2em;
}
body .section-11 {
  padding: 4em 0;
}
@media (max-width: 480px) {
  body .section-11 .content {
    flex-direction: column !important;
    text-align: center;
  }
}
body .section-11 h3 {
  font-size: 1.3em;
  font-weight: 700;
}
body .section-11 p {
  font-size: 1.3em;
}
body .section-11 img {
  width: 60px;
  height: auto;
  margin: 0 2.5em;
}
@media (max-width: 480px) {
  body .section-11 img {
    margin: 2em auto;
  }
}
body .section-12 {
  background-color: #192935;
  color: white;
  padding: 7em 0;
}
body .section-12-b {
  background-color: #dcdcdc;
  color: initial;
}
body .section-12 h2 {
  font-family: "Hatton";
  font-weight: 800;
  font-size: 5em;
  line-height: 1em;
}
@media (max-width: 480px) {
  body .section-12 h2 {
    font-size: 2.2em;
  }
}
body .section-12 .como img {
  width: 130px;
  height: auto;
  display: block;
  margin: 0 auto 2em;
}
body .section-12 .como p {
  text-align: center;
}
body .section-12 .contenido {
  display: flex;
  margin-top: 2em;
  margin-bottom: 5em;
}
body .section-12 .contenido img {
  width: 50px;
  display: block;
  height: 100px;
  margin-right: 25px;
}
body .section-12 .contenido p {
  font-size: 1.4em;
}
@media (max-width: 480px) {
  body .section-12 .contenido p {
    font-size: 1.2em;
  }
}
body .section-12 .contenido p strong {
  color: #e1761b;
  display: block;
}
@media (max-width: 480px) {
  body .section-12 h4 {
    font-size: 1.1em;
  }
}
body .section-12 .tarjeta {
  background-color: white;
  padding: 1em 1em 6em;
  color: #1c2934;
  font-size: 0.8em;
  min-height: 500px;
  border-radius: 20px;
  position: relative;
}
@media (max-width: 480px) {
  body .section-12 .tarjeta {
    margin-bottom: 2em;
  }
}
body .section-12 .tarjeta .img {
  background-color: #eeeeee;
  padding: 1em;
  height: 8em;
  display: flex;
  justify-items: center;
  margin: 3em 0;
}
body .section-12 .tarjeta p {
  width: 80%;
  margin: 0 auto;
}
body .section-12 .tarjeta .foot {
  color: #e1761b;
  width: calc(100% - 30px);
  padding-bottom: 2em;
  text-align: center;
  position: absolute;
  bottom: 0;
}
body .section-12 .tarjeta .foot p {
  margin: 0;
  width: 100%;
  text-align: center;
}
body .section-12 .tarjeta .foot a {
  color: #e1761b;
  text-decoration: none;
  font-weight: 600;
}
body .section-13 .form-label {
  margin-top: 1em;
  margin-bottom: 0.2em;
}
body .section-13 .bg-gris {
  margin: 5em auto;
  padding: 2em;
  background-color: #dcdcdc;
  padding-bottom: 4em;
}
body .section-13 .bg-gris img {
  width: 120px;
  height: auto;
  margin-bottom: 20px;
}
body .section-13 .bg-gris h2 {
  text-align: center;
  font-family: "Hatton";
  font-weight: 800;
  font-size: 3em;
  margin: 1em auto;
}
@media (max-width: 480px) {
  body .section-13 .bg-gris h2 {
    font-size: 2.1em;
  }
}
body .section-13 .bg-gris h3::after {
  content: "";
  width: 50px;
  height: 4px;
  display: block;
  background-color: #e1761b;
  margin-top: 20px;
}
body .section-13 .bg-gris .form-control,
body .section-13 .bg-gris .form-select {
  border-radius: 0;
}
body .section-13 .bg-gris .form-control.error,
body .section-13 .bg-gris .form-select.error {
  border-color: #e1761b;
}
body .section-13 .bg-gris .SumoSelect.open > .optWrapper {
  top: 50px;
}
body .section-13 .bg-gris .SumoSelect {
  width: 100%;
}
body .section-13 .bg-gris .SumoSelect > .CaptionCont {
  border: 1px solid #ced4da;
}
body .section-13 .bg-gris .SumoSelect .select-all.partial > span i, body .section-13 .bg-gris .SumoSelect .select-all.selected > span i, body .section-13 .bg-gris .SumoSelect > .optWrapper.multiple > .options li.opt.selected span i {
  background-color: #e1761b;
}
body .section-13 .bg-gris .sumo_contact {
  width: 100%;
}
body .section-13 .bg-gris .error-message {
  color: #e1761b;
  font-size: 0.8em;
}
body .section-13 .bg-gris .btn {
  border: 0;
  background-color: #c9c9c9;
  color: white;
  display: block;
  margin-top: 1em;
}
body .section-13 .bg-gris .btn.enviar {
  background-color: #e1761b;
  border-radius: 30px;
  display: block;
  width: 100%;
}
body .section-13 .bg-gris #success {
  text-align: center;
  margin-top: 15px;
  font-weight: 600;
  display: none;
}
body .section-14 {
  background-color: #e1761b;
  color: white;
  position: relative;
}
@media (max-width: 480px) {
  body .section-14 .circulos {
    display: none;
  }
}
body .section-14 .btn {
  border: 1px solid white;
  border-radius: 0;
  color: white;
  margin-left: 20px;
  padding: 1em 3em;
}
body .section-15 {
  padding: 6em 0;
  color: #ababab;
  font-size: 0.8em;
}
body .section-15 #legales {
  height: 140px;
  overflow-y: hidden;
  transition: all 0.3s;
}
body .section-15 a {
  color: #ababab;
  text-decoration: none;
  font-weight: 600;
  display: block;
  width: 200px;
  text-align: center;
  margin: 0 auto;
}
body footer {
  background-color: #192935;
  padding: 6em 0;
}
body footer nav {
  list-style: none;
  width: 60%;
  margin: 0 auto;
}
@media (max-width: 480px) {
  body footer nav {
    width: 100%;
  }
}
body footer a {
  color: white;
  text-decoration: none;
}
body footer a:hover {
  color: #e1761b;
}
body footer img {
  width: 500px;
  height: auto;
  display: block;
  margin: 3em auto;
}
@media (max-width: 480px) {
  body footer img {
    width: 80%;
  }
}
body .float_box {
  width: 240px;
  height: 230px;
  display: block;
  position: fixed;
  right: -240px;
  transition: all 0.4s;
  bottom: 50px;
  background-color: #e1761b;
  z-index: 9;
  -webkit-border-top-left-radius: 25px;
  -webkit-border-bottom-left-radius: 25px;
  -moz-border-radius-topleft: 25px;
  -moz-border-radius-bottomleft: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
body .float_box.visible {
  right: 0;
}
@media (max-width: 480px) {
  body .float_box {
    width: 100vw;
    bottom: 0;
    left: 0;
    height: auto;
    border-radius: 0;
  }
  body .float_box_content {
    display: flex;
    padding: 15px !important;
    width: 100%;
    justify-content: space-between;
  }
  body .float_box_content img {
    display: none;
  }
  body .float_box_content p br {
    display: none;
  }
}
body .float_box_content {
  padding: 40px;
  color: white;
}
@media (max-width: 480px) {
  body .float_box_content {
    font-size: 0.9em;
  }
}
body .float_box_content .btn {
  border: 1px solid white;
  border-radius: 0;
  color: white;
}
@media (max-width: 480px) {
  body .float_box_content .btn {
    width: 100px;
    height: 35px;
    font-size: 0.7em;
  }
}
body .float_box_content img {
  width: 20px;
  height: auto;
  margin-bottom: 1em;
}



/*WILSON*/

body .section-7 .block .btn {
    border: 1px solid #e1761b;
    background: #e1761b;
}
body .section-2 .titles h2 {
    padding: 0.5em 0;
}
body .section-2 .titles p {
    padding-top: 25%;
    margin-bottom: 70px;
}

body .section-4 .invierte input {
    text-align: center;
}

body .section-2 .bloque {
    width: 70%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 30px;
}

body .section-3 .cifras.gracias{
	padding: 20em 0;
}

body footer {
    padding: 2em 0;
}

@media (max-width: 480px) {
	body .intro {
		height: 75vh;
	}
  
	body .section-2 .titles h2 {
		padding: 10px!important;
		font-size: 2em;
	}
	
	body .float_box_content p{
		padding: 0px 20px;
	}
	
	body .section-4 .timeline {
	    padding-bottom: 1em;
	}
	body .section-8 p strong {
	    margin-top: 30px;
	    margin-bottom: 60px;
	}	
	body .section-8 .infomobile{
		padding-right: 1rem!important;
	}
	body .section-8 h3 {
	    margin-bottom: 1em;
	    margin-left: 0em;
	}  
	body .section-12 .tarjeta .img {
	    width: 75%;
	    position: relative;
	    display: block;
	    margin: 0 auto;
	    margin-top: 30px;
	    margin-bottom: 30px;
	}
	
	body .section-3 .cifras.gracias {
	    padding: 7em 0;
	}
	body footer a {
	    font-size: 13px;
	}
	body .section-14 .btn {
	    padding: 1em 1em;
	}
	
}


/*# sourceMappingURL=main.css.map */
