//colores
$gris: #dcdcdc;
$gris2: #eeeeee;
$gris3: #717171;
$gris4: #eaeaea;
$naranjo: #e1761b;
$azul: #1c2934;
$azul2: #192935;
//font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    color: $azul2;
    overflow-x: hidden;
    .navbar{
        background-color: $gris;
        .navbar-brand img{
            height: 40px;
            width: auto;
        }
    }
    .intro{
        background-color: black;
        height: 90vh;
        background-image: url('../img/piano-1.jpg');
        background-size: cover;
        position: relative;
        @media (max-width:480px){
            height: 85vh;
        }
        &_content{
            color: white;
            h2{
                margin: 2em 0;
                font-weight: 300;
                font-size: 2em;
                @media (max-width: 480px){
                    margin-top: 0;
                    font-size: 1.2em;
                }
                &::after{
                    content: '';
                    display: block;
                    width: 200px;
                    margin-top: 50px;
                    border-bottom: 1px solid $naranjo;
                    @media (max-width: 480px){
                        display: none;
                    }
                }
            }
            h1{
                font-family: 'Hatton';
                font-weight: 300;
                font-size: 3.5em;
                strong {
                    font-weight: bolder;
                }
                @media (max-width: 480px){
                    font-size: 2.5em;
                }
            }
            span{
                background: url('../../assets/img/flecha-abajo-naranja.png');
                background-size: 100%;
                background-repeat: no-repeat;
                width: 50px;
                height: 50px;
                display: block;
                margin-bottom: 50px;
                @media (max-width: 480px){
                    display: none;
                }
            }
        }
        .goto{
            position: absolute;
            width: 50px;
            height: 50px;
            display: block;
            left: calc(50% - 25px);
            bottom: -25px;
        }
    }
    .section-1{
        padding: 1em 0;

        &_content{
            display: flex;
            @media (max-width: 480px){
                flex-direction: column;
            }
            img{
                width: 300px;
                height: auto;
            }
            h2{
                position: relative;
                font-family: 'Hatton';
                font-weight: 500;
                &::after{
                    content: '';
                    width: 80px;
                    margin: 20px 0;
                    height: 3px;
                    background-color: $naranjo;
                    display: block;
                }
            }
        }
    }
    .section-2{
        background-color: $gris2;
        padding: 5em 0 calc(5em + 100px);
        .titles{
            h2{
                font-size: 4em;
                padding: 2em 0;
                font-family: 'Hatton';
                font-weight: 500;
                span{
                    color: $naranjo;
                    display: block;
                }
                @media (max-width: 480px){
                    padding: 1em;
                    font-size: 2.6em;
                }
            }
            p{
                padding-top: 35%;
                font-size: 1.4em;
                @media (max-width: 480px){
                    padding-top: 15%;
                }
                &::before{
                    content: '';
                    width: 100px;
                    height: 2px;
                    margin-bottom: 30px;
                    display: block;
                    background-color: $naranjo;
                }
            }
        }
        .bloque{
            background-color: white;
            padding: 0 5em;
            border-radius: 25px;
            margin-bottom: 1.5em;
            @media (max-width: 480px){
                padding: 2em;
                margin: 1em;
            }
            h3{
                font-family: 'Hatton';
                font-weight: 500;
                text-align: right;
                text-transform: uppercase;
            }
            span{
                height: 100px;
                width: 1px;
                background-color: $naranjo;
                display: block;
                margin: 1em auto;
                @media (max-width: 480px){
                    display: none;
                }
                &::after{
                    content: '';
                    display: block;
                    position: absolute;
                    left: calc(50% - 15px);
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    top: calc(50% - 15px);
                    background-color: $naranjo;
                }
            }
        }
        .cuadro{
            background-color: white;
            padding: 3em 6em;
            margin-bottom: 8px;
            text-align: center;
            @media (max-width: 480px){
                border-radius: 0 !important;
            }
            h3{
                color: $naranjo;
                font-weight: 600;
            }
            &.first{
                -webkit-border-top-left-radius: 25px;
                -webkit-border-bottom-left-radius: 25px;
                -moz-border-radius-topleft: 25px;
                -moz-border-radius-bottomleft: 25px;
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
            }
            &.last{
                -webkit-border-top-right-radius: 25px;
                -webkit-border-bottom-right-radius: 25px;
                -moz-border-radius-topright: 25px;
                -moz-border-radius-bottomright: 25px;
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
            }
        }

    }
    .section-3{
        position: relative;
        padding: 5em 0;
        .separador{
            width: 200px;
            height: 15px;
            background-color: $naranjo;
            display: block;
            position: absolute;
            left: calc(50% - 100px);
            top: -8px
        }
        h2{
            color: white;
            text-align: center;
            font-family: 'Hatton';
            font-weight: 500;
            font-size: 3em;
            margin-bottom: 1em;
            @media (max-width: 480px){
               font-size: 2.3em;
            }
        }
        p{
            color: white;
            margin-bottom: 3.5em;
            font-size: 1.45em;
            font-weight: 300;
        }
        .flecha{
            width: 50px;
            height: 50px;
            margin-left: calc(50% - 25px);
            margin-top: 3em;
        }
        .cifras{
            background: url("../../assets/img/piano-2.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            padding: 14em 0;
            @media (max-width: 480px){
                padding: 4em 0;
             }
            .cifra{
                text-align: center;
                font-weight: 500;
                font-size: 1.3em;
                color: white;
                line-height: 1em;
                @media (max-width: 480px){
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                span{
                    width: 100px;
                    height: 100px;
                    margin: 0 auto;
                    display: block;
                    background-color: white;
                    border-radius: 50px;
                    text-align: center;
                    line-height: 100px;
                    color: $azul2;
                    margin-top: 1.3em;
                    font-weight: 600;
                    @media (max-width: 480px){
                       margin: 5px 0;
                       margin-left: 20px;
                    }
                }
                &:last-child{
                    
                    span{
                        background-color: $naranjo;
                        color: white;
                    }
                }
            }
        }
    }
    .section-4{
        background: $azul2;
        color: white;
        padding: 2em 0;
        h2{
            color: white;
            text-align: center;
            font-family: 'Hatton';
            font-weight: 500;
            padding-top: 4em;
            font-size: 3em;
            @media (max-width: 480px){
                padding-top: 2em;
                font-size: 1.6em;
             }
        }
        .invierte{
            text-align: center;
            padding: 3em 0;
            width: 320px;
            margin: 0 auto;
            position: relative;
            input{
                background-color: transparent;
                padding: 0.5em 1em;
                padding-right: 2em;
                border: 2px solid white;
                font-weight: 600;
                color: white;
                width: 100%;
                &::placeholder {
                    color: white;
                    font-weight: 600;
                  }
            }
            #calcula{
                background-color: $gris3;
                width: 30px;
                height: 30px;
                display: block;
                position: absolute;
                right: 6px;
                top: 3em;
                text-align: center;
                margin-top: 6px;
                img{
                    height: 60%;
                    width: auto;
                    margin-top: 4px;
                }
            }
        }
        .timeline{
            color: white;
            margin: 2em;
            padding-bottom: 8em;
            span{
                opacity: 0;
                padding: 5px ;
                transition: opacity .4s;
                font-weight: 700;
                margin-bottom: 60px;
                display: block;
                @media (max-width: 480px){
                    opacity: 1;
                    margin-bottom: 0;
                }
                &.actual{
                    color: $azul;
                    background-color: white;
                    opacity: 1;
                }
            }
            .year{
                @media (max-width: 480px){
                    display: block;
                }
            }
            .dot{
                width: 8px;
                height: 8px;
                display: block;
                border-radius: 50%;
                background-color: white;
                position: absolute;
                left: calc(50% - 4px);
                top: calc(50% - 4px);
                transition: all .1s;
                @media (max-width: 480px){
                    display: none;
                }
            }
            .time{
                position: relative;
                @media (max-width: 480px){
                    flex: 1 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    border-bottom: 1px solid;
                    margin-bottom: 15px;
                }
                .year{
                    font-size: 0.7em;
                }
                &::before{
                    content: '';
                    width: 100%;
                    height: 1px;
                    display: block;
                    background-color: white;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    @media (max-width: 480px){
                        display: none;
                    }
                }
                &:hover{
                    span{
                        opacity: 1;
                    }
                    .dot{
                        height: 20px;
                        width: 1px;
                        border-radius: 0;
                        margin-top: -5px;
                        margin-left: 2.5px;
                        &::after{
                            content: '';
                            width: 8px;
                            height: 8px;
                            display: block;
                            border-radius: 50%;
                            background-color: $naranjo;
                            position: absolute;
                            left: calc(50% - 4px);
                            top: calc(50% - 4px);
                        }
                    }
                }
                &:first-child{
                    &::before{
                        left: 50%;
                    }
                }
                &:last-child{
                    &::before{
                        width: 50%;
                    }
                }
            }
            
        }
        

    }
    .section-5{
        background-color: $azul2;
        color: white;   
        
        h2{
            font-family: 'Hatton';
            font-weight: 500;
            span{
                color: $naranjo;
            }
        }
    }

    .section-6{
        padding: 6em 0;
        span{
            width: 200px;
            height: 2px;
            display: block;
            background-color: $naranjo;
            margin: 4em auto;
        }
        h2{
            font-family: 'Hatton';
            font-weight: 800;
            font-size: 3em;
            @media (max-width: 480px){
                font-size: 2em;
            }
        }
        ul{
            margin: 0 50px;
            list-style: none;
            background-color: #f1f1f1;
            border-radius: 25px;
            padding: 2em;
            padding-left: 5em;
            @media (max-width: 480px){
                margin: 30px 0;
            }
            li{
                &::before {
                    content: "\2022";
                    color: $naranjo;
                    font-weight: bold; 
                    font-size: 2.2em;
                    display: inline-block; 
                    width: 0.8em;
                    margin-left: -0.9em;
                  }
            }
        }
    }

    .section-7{
        position: relative;
        z-index: 9;
        .block{
            background-color: $azul2;
            padding: 4em;
            color: white;
            margin-bottom: -110px;
            z-index: 9;
            &-2{
                margin-top: -110px;
                margin-bottom: 0;
            }
            p{
                text-align: right;
                font-size: 1.3em;
                margin: 0;
                padding: 0;
                @media (max-width: 480px){
                   text-align: center;
                   margin-bottom: 20px;
                }
            }
            .btn{
                border: 1px solid white;
                border-radius: 0;
                color: white;
                font-weight: 600;
                padding: 1em 1.5em;
                font-size: 1.3em;
            }
        }
        .steps{
            width: 55%;
            margin: 4em auto;
            @media (max-width: 480px){
                width: 100%;
                margin: 0;
             }
            h2{
                text-align: center;
                font-family: 'Hatton';
                font-weight: 800;
                font-size: 4em;
                margin: 1.5em auto;
                @media (max-width: 480px){
                    font-size: 2em;
                }
            }
            .step{
                margin: 2em 0;
                @media (max-width: 480px){
                    margin: 1em;
                }
                p{
                    font-size: 1.2em;
                    @media (max-width: 480px){
                        font-size: 1em;
                    }
                }
                img{
                    margin: 0 2em;
                    width: 45px;
                    height: 45px;
                }
            }
        }
    }

    .section-8{
        background: $gris2;
        padding: 200px 0 150px;
        h3{
            color: $naranjo;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 600;
            text-align: left;
            margin-bottom: 2em;
            margin-left: 7em;
        }
        .circulos{
            width: 70px;
            height: auto;
            margin-top: 60px;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: 0;
            display: block;
            @media (max-width: 480px){
               display: none;
            }
        }
        p{
            font-size: 2em;
            margin-left: 50px;
            text-align: right;
            @media (max-width: 480px){
                font-size: 1.2em;
                margin: 40px auto 0;
            }
            strong{
                display: block;
                margin-top: 70px
            }
        }
    }

    .section-9{
        padding: 7em;
        @media (max-width: 480px){
            padding: 0;
        }
        .contenedor{
            @media (max-width: 480px){
                flex-direction: column!important;
            }
        }
        .circulos{
            width: 180px;
            margin-right: 50px;
            height: auto;
            @media (max-width:480px){
               display: none;
            }
        }
        h2{
            font-size: 3em;
            color: $naranjo;
            margin-top: 60px;
            @media (max-width: 480px){
                font-size: 2em;
            }
        }
        p{
            display: block;
            margin-left: 150px;
            font-size: 1.5em;
            width: 70%;
            @media (max-width: 480px){
                margin-left: 70px;
                font-size: 1em;
            }
        }
    }

    .section-10{
        padding: 7em 0;
        background: $azul;
        color: white;
        img{
            padding-right: 3em;
            display: block;
            height: auto;
            @media (max-width: 480px){
               width: 75%;
               margin-bottom: 40px;
            }
        }
        p{
            font-size: 1.3em;
            @media (max-width: 480px){
                font-size: 1.1em;
             }
            &::before{
                content: '';
                width: 60px;
                height: 7px;
                display: block;
                background: $naranjo;
                margin-bottom: 50px;
                @media (max-width: 480px){
                    display: none;
                 }
            }
            strong{
                display: block;
                margin-top: 2em;
            }
        }
    }

    .section-11{
        padding: 4em 0;
        .content{
            @media (max-width: 480px){
                flex-direction: column!important;
                text-align: center;
            }
        }
        h3{
            font-size: 1.3em;
            font-weight: 700;
        }
        p{
            font-size: 1.3em;
        }
        img{
            width: 60px;
            height: auto;
            margin: 0 2.5em;
            @media (max-width: 480px){
                margin: 2em auto;
            }
        }
    }

    .section-12{
        background-color: $azul2;
        color: white;
        padding: 7em 0;
        &-b{
            background-color: $gris;
            color: initial;
        }
        h2{
            font-family: 'Hatton';
            font-weight: 800;
            font-size: 5em;
            line-height: 1em;
            @media (max-width: 480px){
               font-size: 2.2em;
            }
        }
        .como{
            img{
                width: 130px;
                height: auto;
                display: block;
                margin: 0 auto 2em;
            }
            p{
                text-align: center;
            }
        }
        .contenido{
            display: flex;
            margin-top: 2em;
            margin-bottom: 5em;
            img{
                width: 50px;
                display: block;
                height: 100px;
                margin-right: 25px;
            }
            p{
                font-size: 1.4em;
                @media (max-width: 480px){
                    font-size: 1.2em;
                 }
                strong{
                    color: $naranjo;
                    display: block;
                }
            }
            
        }
        h4{
            @media (max-width: 480px){
                font-size: 1.1em;
             }
        }
        .tarjeta{
            background-color: white;
            padding: 1em 1em 6em;
            color: $azul;
            font-size: 0.8em;
            min-height: 500px;
            border-radius: 20px;
            position: relative;
            @media (max-width: 480px){
                margin-bottom: 2em;
            }
            .img{
                background-color: $gris2;
                padding: 1em;
                height: 8em;
                display: flex;
                justify-items: center;
                margin: 3em 0;
            }
            p{
                width: 80%;
                margin: 0 auto;
            }
            .foot{
                color: $naranjo;
                width: calc(100% - 30px);
                padding-bottom: 2em;
                text-align: center;
                position: absolute;
                bottom: 0;
                p{
                    margin: 0;
                    width: 100%;
                    text-align: center;
                }
                a{
                    color: $naranjo;
                    text-decoration: none;
                    font-weight: 600;
                }
            }
        }
    }
    .section-13{
        .form-label{
            margin-top: 1em;
            margin-bottom: 0.2em;
        }
        .bg-gris{
            margin: 5em auto;
            padding: 2em;
            background-color: $gris;
            padding-bottom: 4em;
            img{
                width: 120px;
                height: auto;
                margin-bottom: 20px;
            }
            h2{
                text-align: center;
                font-family: 'Hatton';
                font-weight: 800;
                font-size: 3em;
                margin: 1em auto;
                @media (max-width: 480px){
                    font-size: 2.1em;
                 }
            }
            h3{
                &::after{
                    content: '';
                    width: 50px;
                    height: 4px;
                    display: block;
                    background-color: $naranjo;
                    margin-top: 20px;
                }
            }
            .form-control,
            .form-select{
                border-radius: 0;
                &.error{
                    border-color: $naranjo;
                }
            }
            .SumoSelect.open>.optWrapper{
                top: 50px;
            }
            .SumoSelect{
                width: 100%;
            }
            .SumoSelect>.CaptionCont{
                border: 1px solid #ced4da;
            }
            .SumoSelect .select-all.partial>span i, .SumoSelect .select-all.selected>span i, .SumoSelect>.optWrapper.multiple>.options li.opt.selected span i{
                background-color: $naranjo;
            }
            .sumo_contact{
                width: 100%;
            }
            .error-message{
                color: $naranjo;
                font-size: 0.8em;
            }
            .btn{
                border: 0;
                background-color: #c9c9c9;
                color: white;
                display: block;
                margin-top: 1em;
            }
            .btn.enviar{
                background-color: $naranjo;
                border-radius: 30px;
                display: block;
                width: 100%;
            }
            #success{
                text-align: center;
                margin-top: 15px;
                font-weight: 600;
                display: none;
            }
        }
    }

    .section-14{
        background-color: $naranjo;
        color: white;
        position: relative;
        .circulos{
            @media (max-width: 480px){
                display: none;
             }
        }
        .btn{
            border: 1px solid white;
            border-radius: 0;
            color: white;
            margin-left: 20px;
            padding: 1em 3em;
        }
    }

    .section-15{
        padding: 6em 0;
        color: #ababab;
        font-size: 0.8em;
        #legales{
            height: 140px;
            overflow-y: hidden;
            transition: all .3s;
        }
        a{
            color: #ababab;
            text-decoration: none;
            font-weight: 600;
            display: block;
            width: 200px;
            text-align: center;
            margin: 0 auto;
        }
    }
    footer{
        background-color: $azul2;
        padding: 6em 0;
        nav{
            list-style: none;
            width: 60%;
            margin: 0 auto;
            @media (max-width: 480px){
                width: 100%;
             }
        }
        a{
            color: white;
            text-decoration: none;
            &:hover{
                color: $naranjo;
            }
        }
        img{
            width: 500px;
            height: auto;
            display: block;
            margin: 3em auto;
            @media (max-width: 480px){
                width: 80%;
            }
        }
    }

    .float_box{
        width: 240px;
        height: 230px;
        display: block;
        position: fixed;
        right: -240px;
        transition: all .4s;
        bottom: 50px;
        background-color: $naranjo;
        z-index: 9;
        -webkit-border-top-left-radius: 25px;
        -webkit-border-bottom-left-radius: 25px;
        -moz-border-radius-topleft: 25px;
        -moz-border-radius-bottomleft: 25px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        &.visible{
            right: 0;
        }
        @media (max-width: 480px){
            width: 100vw;
            bottom: 0;
            left: 0;
            height: auto;
            border-radius: 0;
            &_content{
                display: flex;
                padding: 15px !important;
                width: 100%;
                justify-content: space-between;
                img{
                    display: none;
                }
                p{
                    br{
                        display: none;
                    }
                }
            }
        }
        &_content{
            padding: 40px;
            color: white;
            @media (max-width: 480px){
                font-size: 0.9em;
            }
            .btn{
                border: 1px solid white;
                border-radius: 0;
                color: white;
                @media (max-width: 480px){
                    width: 100px;
                    height: 35px;
                    font-size: 0.7em;
                }
            }
            img{
                width: 20px;
                height: auto;
                margin-bottom: 1em;
            }
        }
    }
}
